src/wsdl/brand.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/brand/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="brand" targetNamespace="http://www.example.org/brand/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/brand/">
      <xsd:element name="brandInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="brandId" type="xsd:string"/>
            <xsd:element name="brandName" type="xsd:string"/>
            <xsd:element name="productType" type="xsd:string"/>
            <xsd:element name="productName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="brandOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="responseCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetBrandInput">
    <wsdl:part element="tns:brandInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBrandOutput">
    <wsdl:part element="tns:brandOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="brand">
    <wsdl:operation name="getBrand">
      <wsdl:input message="tns:GetBrandInput"/>
      <wsdl:output message="tns:GetBrandOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="brandSOAP" type="tns:brand">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBrand">
      <soap:operation soapAction="http://www.example.org/productPurchase/GetBrand"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="brand">
    <wsdl:port binding="tns:brandSOAP" name="brandSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
