src/wsdl/couponRedeem.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ZSI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="couponRedeem" targetNamespace="urn:ZSI">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ZSI">
      <xsd:element name="couponRedeemInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CHASSIS" type="xsd:string"/>
            <xsd:element name="SER_ADV_MOBILE" type="xsd:string"/>
            <xsd:element name="CLOSED_DATE" type="xsd:dateTime"/>
            <xsd:element name="ACTUAL_SERVICE_DATE" type="xsd:dateTime"/>
            <xsd:element name="ACTUAL_KMS" type="xsd:long"/>
            <xsd:element name="UCN_NO" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="couponRedeemOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RESPONSE_CODE" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCouponRedeemInput">
    <wsdl:part element="tns:CouponRedeemInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCouponRedeemOutput">
    <wsdl:part element="tns:CouponRedeemOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="couponRedeem">
    <wsdl:operation name="getCouponRedeem">
      <wsdl:input message="tns:GetCouponRedeemInput"/>
      <wsdl:output message="tns:GetCouponRedeemOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="couponRedeemSOAP" type="tns:couponRedeem">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCouponRedeem">
      <soap:operation soapAction="http://localhost:8000/productPurchase/GetCouponRedeem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="couponRedeem">
    <wsdl:port binding="tns:couponRedeemSOAP" name="couponRedeemSOAP">
      <soap:address location="http://localhost:8000/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
