src/wsdl/productDispatch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ZSI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="productDispatch" targetNamespace="urn:ZSI">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ZSI">
      <xsd:element name="productDispatchInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CHASSIS" type="xsd:string"/>
            <xsd:element name="PRODUCT_TYPE" type="xsd:string"/>
            <xsd:element name="VEC_DIS_DT" type="xsd:dateTime"/>
            <xsd:element name="DEALER_ID" type="xsd:string"/>
            <xsd:element name="UCN_NO" type="xsd:string"/>
            <xsd:element name="DAYS_LIMIT_FROM" type="xsd:long"/>
            <xsd:element name="DAYS_LIMIT_TO" type="xsd:long"/>
            <xsd:element name="KMS_FROM" type="xsd:long"/>
            <xsd:element name="KMS_TO" type="xsd:long"/>
            <xsd:element name="SERVICE_TYPE" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="productDispatchOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RESPONSE_CODE" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetProductDispatchInput">
    <wsdl:part element="tns:productDispatchInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetProductDispatchOutput">
    <wsdl:part element="tns:productDispatchOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="productDispatch">
    <wsdl:operation name="getProductDispatch">
      <wsdl:input message="tns:GetProductDispatchInput"/>
      <wsdl:output message="tns:GetProductDispatchOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productDispatchSOAP" type="tns:productDispatch">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProductDispatch">
      <soap:operation soapAction="http://localhost:8000/productPurchase/GetProductDispatch"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productDispatch">
    <wsdl:port binding="tns:productDispatchSOAP" name="productDispatchSOAP">
      <soap:address location="http://localhost:8000/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
