src/wsdl/productPurchase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/productPurchase/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="productPurchase" targetNamespace="http://www.example.org/productPurchase/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/productPurchase/">
      <xsd:element name="productPurchaseInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="vin" type="xsd:string"/>
            <xsd:element name="sapCustomerId" type="xsd:string"/>
            <xsd:element name="customerPhoneNumber" type="xsd:string"/>
            <xsd:element name="customerName" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="pinCode" type="xsd:string"/>
            <xsd:element name="productPurchaseDate" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="productPurchaseOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="responseCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetProductPurchaseInput">
    <wsdl:part element="tns:productPurchaseInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetProductPurchaseOutput">
    <wsdl:part element="tns:productPurchaseOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="productPurchase">
    <wsdl:operation name="getProductPurchase">
      <wsdl:input message="tns:GetProductPurchaseInput"/>
      <wsdl:output message="tns:GetProductPurchaseOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productPurchaseSOAP" type="tns:productPurchase">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProductPurchase">
      <soap:operation soapAction="http://www.example.org/productPurchase/GetProductPurchase"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productPurchase">
    <wsdl:port binding="tns:productPurchaseSOAP" name="productPurchaseSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
