src/wsdl/productPurchase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/productPurchase/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="productPurchase" targetNamespace="http://www.example.org/productPurchase/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/productPurchase/">
      <xsd:element name="productPurchaseInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CHASSIS" type="xsd:string"/>
            <xsd:element name="CUSTOMER_ID" type="xsd:string"/>
            <xsd:element name="CUST_MOBILE" type="xsd:string"/>
            <xsd:element name="CUSTOMER_NAME" type="xsd:string"/>
            <xsd:element name="CITY" type="xsd:string"/>
            <xsd:element name="STATE" type="xsd:string"/>
            <xsd:element name="PIN_NO" type="xsd:string"/>
            <xsd:element name="PRODUCT_PURCHASE_DATE" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="productPurchaseOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RESPONSE_CODE" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetProductPurchaseInput">
    <wsdl:part element="tns:productPurchaseInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetProductPurchaseOutput">
    <wsdl:part element="tns:productPurchaseOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="productPurchase">
    <wsdl:operation name="getProductPurchase">
      <wsdl:input message="tns:GetProductPurchaseInput"/>
      <wsdl:output message="tns:GetProductPurchaseOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productPurchaseSOAP" type="tns:productPurchase">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProductPurchase">
      <soap:operation soapAction="http://www.example.org/productPurchase/GetProductPurchase"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productPurchase">
    <wsdl:port binding="tns:productPurchaseSOAP" name="productPurchaseSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
